/* Header Styles */
.header {
  max-width: 1920px !important;
  /* Si quiero cambiar el header tengo que usar esto */
}

.hoverable:hover {
  cursor: pointer;
}

.hoverable svg {
  transition: fill 0.2s ease 0s !important;
}

.hoverable:hover svg {
  fill: #ff9800 !important;
  transition: fill 0.2s ease 0s !important;
}

.btnHeader {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  transition: color 0.2s ease 0s;
}

.btnHeader:hover {
  color: #ff9800 !important;
  transition: color 0.2s ease 0s;
}

/* Hero Styles */
.hero {
  margin-top: 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: calc(50vh - 60px);
  text-align: center;
  position: relative;
}

.hero h1 {
  margin: 0px;
  color: #202329;
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 5.625rem;
}

/* .section1 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: calc(50vh - 60px);
  text-align: center;
  position: relative;

} */
/* .fotoSection1 {

  position: absolute;
  width: 100%;
  height: 100%;
} */

/* Showcase Styles */
.showcase {
  margin-right: 0px;
  background: #202329;
  padding-bottom: 150px;
  padding-top: 60px;
}

/* searchBar */
.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

input.searchBarInput {
  width: 30%;
  border: 2.5px solid transparent;
  border-radius: 0.5rem;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
  padding: 10px 15px;
}

input.searchBarInput:hover {
  border: 2.5px solid #ff9800;
}

input.searchBarInput:focus {
  outline: none;
}

.searchBarBtn {
  background-color: #3c3e44;
  border-radius: 0.5rem;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
  color: white;
  border: 2.5px solid transparent;
  margin-left: 10px;
  padding: 10px 15px;
}

.searchBarBtn:hover {
  background-color: #ff9800;
}

.characterNotFound {
  color: white;
  display: flex;
  justify-content: center;
}

/* Botón go to top */
.goTopBtn {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3c3e44;
  color: #f5f5f5;
  cursor: pointer;
  padding: 6px;
  border-radius: 24px;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
}

.goTopBtn svg {
  display: block;
}

.goTopBtn svg:hover {
  color: #ff9800;
}

/* Barra lateral */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #202329;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff9800;
  border-radius: 3px;
  border: 1px solid #ff9800;
}

.characterCardContent h1 {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Paginacion */
.tituloPaginacion {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  color: white !important;
  margin-top: 16px;
}

.elementospaginacion {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 16px !important;
}

.paginacion {
  align-content: center !important;
  flex-wrap: wrap !important;
  width: 400px;
  margin: auto;
  background-color: #3c3e44;
  border-radius: 0.5rem !important;
  margin-top: 30px;
}

.MuiPaginationItem-root {
  color: white !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #3c3e44 !important;
}

.Typography {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif" !important;
  font-weight: 800 !important;
}

/* status */
.status {
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
}

.status__icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  align-items: center !important;
}

.vivo {
  background: #55cc44 !important;
}

.muerto {
  background: #d63d2e !important;
}

.desconocido {
  background: #9e9e9e !important;
}

.characterStatus {
  color: white !important;
  background-color: #00000000 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  align-items: center !important;
  transition: color 0.2s ease 0s;
  cursor: pointer;
  padding-left: 7px !important;
  padding-right: 4px !important;
}

.characterStatus:hover {
  color: #ff9800 !important;
  transition: color 0.2s ease 0s;
}

.characterCard__Img {
  height: 100%;
  width: 100%;
}

.miCard {
  /* width: 600px;
  height: 220px; */
  display: flex;
  /* margin-bottom: 0.75rem; */
  background: #3c3e44;
  border-radius: 0.5rem !important;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
  overflow: hidden;
}

.cardContent {
  display: flex;
  padding: 0px;
}

.miCard span {
  /* flex-direction: column !important; */
  display: flex !important;
}

.MuiGrid-item {
  align-items: center;
  display: grid;
}

/* .section2 {
  background: rgb(32, 35, 41);
  padding-top: 30px;
  padding-bottom: 30px;
} */

/* .btnEposideSection2 {
  background: white !important;
  color: black !important;
  border: 2px solid #ff9800 !important;
  border-radius: 8px !important;
  padding-top: 0.5rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  font-size: 0.75rem !important;
  font-weight: 800 !important;
  margin-right: 10px !important;
  transition: color 0.2s ease 0s;
} */

/* .btnEposideSection2:hover {
  background: #ff9800 !important;
  color: white !important;
  transition: color 0.2s ease 0s;
} */

/* .section2CardContent {
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: column !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
} */

/*.MuiGrid-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}*/

/* .css-1oqqzyl-MuiContainer-root {
  max-width: 1920px !important;
} */

/* .css-46bh2p-MuiCardContent-root {
  padding: 0px !important;
} */

::selection {
  color: #ff9800 !important;
  background: #202329 !important;
}

::-moz-selection {
  color: #ff9800 !important;
  background: #202329 !important;
}

.tituloGris {
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 500;
}

.respuestaPregunta {
  font-size: 18px;
}

.MuiChip-label {
  padding-left: 7px !important;
  padding-right: 4px !important;
  align-items: center !important;
}

/* .css-nz3zgg-MuiButtonBase-root-MuiChip-root {
  color: white !important;
  background-color: #00000000 !important;
  font-size: 16px !important;
}*/

/*.css-nz3zgg-MuiButtonBase-root-MuiChip-root:hover {
  color: rgb(255, 152, 0) !important;
}
*/

/* .css-1qsxih2 {
  max-width: 1920px !important;
} */

/* Footer styles*/
footer {
  padding: 81px 0px 81px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  background: #202329;
  flex-flow: column nowrap;
  align-items: center;
}

footer .sign {
  color: #9e9e9e;
  font-size: 14px;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

footer .sign a {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid rgb(255, 152, 0);
  transition: color 0.2s ease 0s;
  text-decoration: none;
}

footer .sign a:hover {
  font-weight: bold;
  transition: color 0.2s ease 0s;
  color: #ff9800;
  transition: color 0.2s ease 0s;
  border-bottom: none;
}

.netlify {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.rrss {
  margin-top: 30px !important;
}

.linkrrss {
  border-bottom: none !important;
  text-decoration: none !important;
  padding-right: 6px !important;
}

svg.footer-icon:hover {
  fill: orange !important;
}

small {
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 500;
}

/* Responsive styles*/
@media (max-width: 1700px) {
  .hero h1 {
    font-size: 4.25rem;
  }
}

@media (max-width: 890px) {
  .hero h1 {
    font-size: 3.75rem !important;
  }
}

@media (max-width: 715px) {
  .showcase {
    padding-top: 30px;
  }

  .hero h1 {
    font-size: 2.5rem !important;
  }

  .miCard {
    flex-direction: column;
    height: initial;
    width: auto !important;
  }

  .cardContent {
    flex-direction: column;
  }

  .characterCard__Img {
    width: 100%;
  }

  .css-1nsxlg2 > .MuiGrid-item {
    padding-left: 20px !important;
  }

  /* .css-27y6a6-MuiGrid-root>.MuiGrid-item {
    padding-left: 20px !important;
  } */
}
