.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section1 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: calc(50vh - 60px);
  text-align: center;
  position: relative;
}

.tituloSection1 {
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 5.625rem;
}

.fotoSection1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section2 {
  background: rgb(32, 35, 41);
  padding-top: 30px;
  padding-bottom: 30px;
}

.btnEposideSection2 {
  background: white !important;
  color: black !important;
  border: 2px solid #ff9800 !important;
  border-radius: 8px !important;
  padding-top: 0.5rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  font-size: 0.75rem !important;
  font-weight: 800 !important;
  margin-right: 10px !important;
  transition: color 0.2s ease 0s;

}

.btnEposideSection2:hover {
  background: #ff9800 !important;
  color: white !important;
  transition: color 0.2s ease 0s;

}

.section2CardContent {
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: column !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}


.section3 {
  margin-right: 0px;
  background: rgb(32, 35, 41);
  padding-bottom: 150px;
}

.vivo {
  background: rgb(85, 204, 68) !important;
}

.muerto {
  background: rgb(214, 61, 46) !important;
}

.desconocido {
  background: rgb(158, 158, 158) !important;
}

/*
.MuiGrid-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

*/

/* .css-1oqqzyl-MuiContainer-root {
  max-width: 1920px !important;
} */



/* Si quiero cambiar el header tengo que usar esto */

.header {
  max-width: 1920px !important;

}

.btnHeader {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  transition: color 0.2s ease 0s;

}

.btnHeader:hover {
  color: rgb(255, 152, 0) !important;
  transition: color 0.2s ease 0s;

}

::selection {
  color: rgb(255, 152, 0) !important;
  background: rgb(32, 35, 41) !important;
}


.miCard {
  width: 600px;
  height: 220px;
  display: flex;
  /* margin-bottom: 0.75rem; */
  background: rgb(60, 62, 68);
  border-radius: 0.5rem !important;

  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.cardContent {
  display: flex;
  padding: 0px !important;
}

/* .css-46bh2p-MuiCardContent-root {
  padding: 0px !important;
} */

.characterCard__Img {
  height: 100% !important;
}

.Typography {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  font-weight: 800 !important;
}

.characterCardContent {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}


.tituloGris {
  color: rgb(158, 158, 158);
  font-size: 16px;
  font-weight: 500;
}

.respuestaPregunta {
  font-size: 18px;
}

.status {
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;

}

.status__icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  align-items: center !important;

}

.characterStatus {
  color: white !important;
  background-color: #00000000 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  align-items: center !important;
  transition: color 0.2s ease 0s;

}

.characterStatus:hover {
  color: rgb(255, 152, 0) !important;
  transition: color 0.2s ease 0s;

}


.MuiChip-label {
  padding-left: 7px !important;
  padding-right: 4px !important;
  align-items: center !important;

}

/* .css-nz3zgg-MuiButtonBase-root-MuiChip-root {
  color: white !important;
  background-color: #00000000 !important;
  font-size: 16px !important;
}

.css-nz3zgg-MuiButtonBase-root-MuiChip-root:hover {
  color: rgb(255, 152, 0) !important;
} */

.tituloPaginacion {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  color: white !important;
  margin-top: 15px;
}

.elementospaginacion {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 16px !important;
}

.paginacion {
  align-content: center !important;
  flex-wrap: wrap !important;
  width: 400px;
  margin: auto;
  background-color: #3c3e44;
  border-radius: 0.5rem !important;
  margin-top: 30px;
}

.MuiPaginationItem-root {
  color: white !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #3c3e44 !important;
}

.hoverable:hover {
  cursor: pointer;
}

.hoverable svg {
  transition: fill 0.2s ease 0s !important;
}

.hoverable:hover svg {
  fill: rgb(255, 152, 0) !important;
  transition: fill 0.2s ease 0s !important;

}

/* .css-1qsxih2 {
  max-width: 1920px !important;
} */

.footer {
  padding: 81px 0px 81px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  background: rgb(32, 35, 41);
  flex-flow: column nowrap;
  align-items: center;
}

.footerSign {
  color: #9e9e9e;
  font-size: 14px;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.footerSign a {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid rgb(255, 152, 0);
  transition: color 0.2s ease 0s;
  text-decoration: none;

}

.footerSign a:hover {
  font-weight: bold;
  transition: color 0.2s ease 0s;
  color: rgb(255, 152, 0);
  transition: color 0.2s ease 0s;
  border-bottom: none;
}

.netlify {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.rrss {
  margin-top: 30px !important;
}

.linkrrss {
  border-bottom: none !important;
  text-decoration: none !important;
  padding-right: 6px !important;
}

svg.footer-icon:hover {
  fill: orange !important;
}

@media (max-width: 1700px) {

  .tituloSection1 {
    font-size: 4.25rem;
  }

}

@media (max-width: 890px) {

  .tituloSection1 {
    font-size: 3.75rem !important;
  }

}

@media (max-width: 715px) {

  .tituloSection1 {
    font-size: 2.5rem !important;
  }

  .miCard {
    flex-direction: column;
    height: initial;
    width: auto !important;

  }

  .cardContent {
    flex-direction: column;
  }

  .characterCard__Img {
    width: 100%;
  }

}